<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Library_Management_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.library.util.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.library.util.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookServlet</display-name>
    <servlet-name>IssueBookServlet</servlet-name>
    <servlet-class>com.library.util.IssueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookServlet</servlet-name>
    <url-pattern>/IssueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>com.library.util.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBookServlet</display-name>
    <servlet-name>ViewBookServlet</servlet-name>
    <servlet-class>com.library.util.ViewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBookServlet</servlet-name>
    <url-pattern>/ViewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewIssuedBookServlet</display-name>
    <servlet-name>ViewIssuedBookServlet</servlet-name>
    <servlet-class>com.library.util.ViewIssuedBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewIssuedBookServlet</servlet-name>
    <url-pattern>/ViewIssuedBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLibrarianServlet</display-name>
    <servlet-name>AddLibrarianServlet</servlet-name>
    <servlet-class>com.library.util.AddLibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibrarianServlet</servlet-name>
    <url-pattern>/AddLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianLoginServlet</display-name>
    <servlet-name>LibrarianLoginServlet</servlet-name>
    <servlet-class>com.library.util.LibrarianLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianLoginServlet</servlet-name>
    <url-pattern>/LibrarianLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLibrarianServlet</display-name>
    <servlet-name>ViewLibrarianServlet</servlet-name>
    <servlet-class>com.library.util.ViewLibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLibrarianServlet</servlet-name>
    <url-pattern>/ViewLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditLibrarianServlet</display-name>
    <servlet-name>EditLibrarianServlet</servlet-name>
    <servlet-class>com.library.util.EditLibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditLibrarianServlet</servlet-name>
    <url-pattern>/EditLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLibrarianServlet</display-name>
    <servlet-name>DeleteLibrarianServlet</servlet-name>
    <servlet-class>com.library.util.DeleteLibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLibrarianServlet</servlet-name>
    <url-pattern>/DeleteLibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.library.util.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>